.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icons-container {
  display: flex;
  justify-content: center;
}

.icon {
  margin: 0 10px;
  cursor: pointer;
  fill: #ff5733; /* Couleur de remplissage des icônes */
}

.icon:hover {
  filter: brightness(120%); /* Effet de surbrillance au survol */
}
.icon-svg {
  width: 50px; /* Définissez la largeur selon vos préférences */
  height: 50px; /* Définissez la hauteur selon vos préférences */
  background-color: #f0f0f0; /* Couleur de fond autour des icônes */
  border-radius: 50%; /* Rend les coins arrondis pour un look plus propre */
  padding: 10px; /* Ajoute un peu d'espace autour de l'icône */
}


